@import '../Variables';

$confirm-default: rgba(57, 17, 68, 0.5);
$confirm-hover: rgba(91, 27, 112, 0.5);
$confirm-active: rgba(28, 8, 34, 0.8);

$cancel-default: rgba(142, 116, 171, 0.5);
$cancel-hover: rgba(190, 155, 229, 0.3);
$cancel-active: rgba(173, 127, 224, 0.5);

$delete-default: rgba(220, 0, 0, 0.5);
$delete-hover: rgba(255, 55, 55, 0.3);
$delete-active: rgba(255, 0, 0, 0.5);

/// Configures the colors of a button.
/// @param {color} $default - The default color.
/// @param {color} $hover - The color shown when hovered over.
/// @param {color} $active - The color shown when clicked.
@mixin button-configure($default, $hover, $active) {
  background-color: $default;

  &:hover {
    box-shadow: inset 0 0 100px 100px $hover;
  }

  &:active {
    box-shadow: inset 0 0 100px 100px $active;
    transition-duration: 0.1s;
  }
}

/// Placeholder for form buttons.
%form-buttons {
  border: 1px solid #fff;
  border-radius: 15px;
  color: #fff !important;
  font-family: $body-font;
  padding: 1em;
  transition-duration: 0.3s;
  user-select: none;

  &:focus {
    outline: none;
  }
}

.button-confirm {
  @extend %form-buttons;
  @include button-configure($confirm-default, $confirm-hover, $confirm-active);
}

.button-cancel {
  @extend %form-buttons;
  @include button-configure($cancel-default, $cancel-hover, $cancel-active);
}

.button-delete {
  @extend %form-buttons;
  @include button-configure($delete-default, $delete-hover, $delete-active);
}

.invisible-button {
  background: none;
  border-style: none;

  &:focus {
    outline: none;
  }
}
