@import '../Variables';

$button-confirm: rgb(57, 17, 68);
$button-cancel: rgb(142, 116, 171);
$button-delete: rgb(220, 0, 0);
$button-admin: rgb(206, 206, 206);

/// Configures the colors of a button.
/// @param {color} $class - The class using this mixin.
/// @param {color} $base - The base colour of the button.
@mixin button-designer($class, $base) {
  $colors: (
    light: change-color($base, $alpha: 0.9),
    dark: change-color($base, $alpha: 0.5)
  );
  @each $theme in $themes {
    $color: map-get($colors, $theme);
    &-#{$theme} {
      @extend #{$class};
      background-color: $color;

      &:hover {
        box-shadow: inset 0 0 100px 100px adjust-color($color, $lightness: 10%);
      }

      &:active {
        box-shadow: inset
          0
          0
          100px
          100px
          adjust-color($color, $lightness: 70%);
        transition-duration: 0.1s;
      }
    }
  }
}

%button {
  border: 1px solid #fff;
  font-family: $body-font;
  transition-duration: 0.3s;
  user-select: none;

  &:focus {
    outline: none;
  }
}

%form-button {
  @extend %button;
  border-radius: 15px;
  color: #fff !important;
  padding: 1em;
}

.button-confirm {
  @extend %form-button;
  @include button-designer(&, $button-confirm);
}

.button-cancel {
  @extend %form-button;
  @include button-designer(&, $button-cancel);
}

.button-delete {
  @extend %form-button;
  @include button-designer(&, $button-delete);
}

.button-admin {
  @extend %button;
  @include button-designer(&, $button-admin);
  border-radius: 8px;
  padding: 0.5em 1em;
}

.invisible-button {
  background: none;
  border-style: none;

  &:focus {
    outline: none;
  }
}
