@import '../App';

$button-confirm: rgb(57, 17, 68);
$button-cancel: rgb(142, 116, 171);
$button-delete: rgb(200, 0, 0);
$button-admin: rgb(206, 206, 206);

%button {
  border: 1px solid #fff;
  font-family: $body-font;
  transition-duration: 0.3s;
  user-select: none;

  &:focus {
    outline: none;
  }
}

%form-button {
  @extend %button;
  border-radius: 15px;
  color: #fff !important;
  padding: 1em;
}

.button-confirm {
  @extend %form-button;
  @include button-designer(&, $button-confirm);
}

.button-cancel {
  @extend %form-button;
  @include button-designer(&, $button-cancel);
}

.button-delete {
  @extend %form-button;
  @include button-designer(&, $button-delete);
}

.button-admin {
  @extend %button;
  @include button-designer(&, $button-admin);
  border-radius: 8px;
  padding: 0.5em 1em;
}

.invisible-button {
  background: none;
  border-style: none;

  &:focus {
    outline: none;
  }
}

.button-spacer {
  display: flex;
  
  button {
    margin-left: 0.4em;
  }
}
