@import '../App.scss';

////////////////////////////////
/// Form
////////////////////////////////

.form {
  display: block;
}

.form-pv {
  @include responsive(display, grid, $lg: block);
  grid-template-columns: repeat(2, 50%);
}

%form-pane {
  @media (min-width: $break-md) {
    height: 100vh;
    overflow-y: scroll;
  }
}

.form-editor {
  @include responsive(width, 70%, $xl: 80%, $lg: 90%, $sm: 100%);
  margin: 0 auto;
  padding: 1em;
}

.form-editor-pv {
  @extend %form-pane;
  margin: 0 auto;
  padding: 1em 2em;
  width: 100%;
}

.form-preview {
  @extend %form-pane;
  @include responsive(display, block, $md: none);
  @include themer(&, border-color, #000, #fff);
  @include themer(
    $class: &,
    $attr: background-color,
    $light: rgba($color: #fff, $alpha: 0.7),
    $dark: rgba($color: #000, $alpha: 0.7)
  );
  border-left: 1px solid;
  padding: 2em;
}

.form-footer {
  @include themer(&, border-color, #000, #fff);
  border-top: 1px solid;
}

.form-footer-buttons {
  @include responsive(width, 70%, $xl: 80%, $lg: 90%, $sm: 100%);
  display: flex;
  justify-content: space-between;
  margin: 0 auto;

  button {
    min-width: 175px;
    @media (max-width: $break-sm) {
      min-width: inherit;
      width: 48%;
    }
  }
}

.form-footer-button-spacer {
  @include responsive(width, auto, $sm: 100%);
}

.form-admin-button {
  @include responsive(display, block, $md: none);
}

.form-field {
  @include responsive(padding, 1em, $sm: 0.8em 1em);
}

////////////////////////////////
/// Labels
////////////////////////////////

.label {
  @include responsive(font-size, 1.2em, $sm: 1.1em);
  display: block;
  font-family: $title-font;
}

////////////////////////////////
/// Inputs
////////////////////////////////

%input {
  background: none;
  border-style: none;
  font-size: 1.2em;
  outline: none;
  padding: 0.4em;
  width: 100%;

  @media (max-width: $break-sm) {
    font-size: 1em;
    padding: 0.4em 0;
  }
}

%themed-input {
  @extend %input;
  @include themer(
    &,
    border-bottom,
    $light: 1px solid rgba(0, 0, 0, 0.7),
    $dark: 1px solid rgba(255, 255, 255, 0.7)
  );
}

.text-input-field {
  @include themer(
    &,
    border-bottom,
    $light: 1px solid rgba(0, 0, 0, 0.7),
    $dark: 1px solid rgba(255, 255, 255, 0.7)
  );
  align-items: center;
  display: flex;
  width: 100%;

  .text-input {
    @extend %input;
  }

  .text-click-input {
    width: 100%;

    input {
      cursor: pointer;
    }
  }
}

@mixin theme-extend($class, $target) {
  @each $theme in $themes {
    &-#{$theme} {
      @extend #{$class} !optional;
      @extend #{$target}-#{$theme};
    }
  }
}

.textarea {
  @include theme-extend(&, '%themed-input');
  overflow: auto;
}

%select {
  appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, #808080 50%),
    linear-gradient(135deg, #808080 50%, transparent 50%);
  background-position: calc(100% - 13px) calc(1em + 1px),
    calc(100% - 8px) calc(1em + 1px);
  background-repeat: no-repeat;
  background-size: 5px 5px, 5px 5px;
}

.select {
  @extend %select;
  @include theme-extend(&, '%themed-input');
}

.select-round {
  @extend %input;
  @extend %select;
  @include themer(
    &,
    border-color,
    $light: rgba(0, 0, 0, 0.7),
    $dark: rgba(255, 255, 255, 0.7)
  );
  border: 2px solid;
  border-radius: 10px;
  margin-right: 1em;
}

////////////////////////////////
/// Datepickers & Timepickers
////////////////////////////////

.datepicker-field {
  align-items: center;
  display: flex;

  .datepicker {
    align-items: center;
    background: initial;
    border-style: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    width: 100%;
  }

  .calendar-icon {
    margin: 0 0.2em 0 0.4em !important;
    @media (max-width: $break-md) {
      margin-right: 0.5em !important;
    }
  }
}

.datepicker-modal {
  justify-content: space-evenly;
  padding: 2em;

  select {
    @include responsive(font-size, 1.4em, $sm: 1.2em);
  }
}

////////////////////////////////
/// File Selectors
////////////////////////////////

.fs-image-container {
  align-items: center;
  border: 2px dashed rgb(158, 158, 158);
  display: flex;
  justify-content: center;
  text-align: center;
}

.fs-image-text {
  cursor: pointer;
  margin: 0;
}

.fs-image {
  width: 100%;
}

.fs-image-button {
  @include hover-scale(1.2);
  background: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  position: absolute;
  right: -8px;
  top: -8px;

  svg {
    border-radius: 50%;
    font-size: 1em;
    margin-right: 0 !important;

    path {
      color: rgba(0, 0, 0, 0.9) !important;
    }
  }
}
