@import '../App';

.partitioner {
  @include responsive(width, 80%, $md: 90%, $sm: 100%);
  @include responsive(display, grid, $lg: block);
  grid-template-columns: 70% 30%;
  margin: 0 auto;
}

.spacer {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100%;
}

.toolbar {
  @include themer(
    &,
    background-color,
    $light: rgba(255, 255, 255, 0.9),
    $dark: rgba(0, 0, 0, 0.95)
  );
  @include themer(&, border-color, #000, #fff);
  @include responsive(padding, 0.5em 2em, $sm: 1em);
  border-top: 1px solid;
  bottom: 0;
  position: sticky;
  transition-duration: 0.8s;
  width: 100%;
}

.toolbar-toggle {
  @include themer(&, border-color, #000, #fff);
  border: 1px solid !important;
  border-radius: 5px;
  height: fit-content;

  svg {
    margin-right: 0;
  }
}
