@import '../App';

.partitioner {
  @include responsive(width, 70%, $xxl: 80%, $md: 90%, $sm: 100%);
  @include responsive(display, grid, $lg: block);
  grid-template-columns: 70% 30%;
  margin: 0 auto;
}

.spacer {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100%;
}

.toolbar-wrapper {
  padding: 0 1em;
}

.toolbar {
  @include themer(
    &,
    background-color,
    $light: rgba(255, 255, 255, 0.9),
    $dark: rgba(0, 0, 0, 0.95)
  );
  @include themer(&, border-color, #000, #fff);
  @include responsive(padding, 0.5em 2em, $sm: 0.5em 0);
  border-top: 1px solid;
  bottom: 0;
  position: sticky;
  transition-duration: 0.8s;
  width: 100%;

  &-spaced {
    display: flex;
    justify-content: space-between;
  }

  &-with-back {
    @media (max-width: $break-sm) {
      padding-right: 0.5em;
    }
  }

  &-no-back {
    @media (max-width: $break-sm) {
      padding: 0.5em;
    }
  }
}

.toolbar-toggle {
  @include themer(
    &,
    border-color,
    $light: rgba(0, 0, 0, 0.7),
    $dark: rgba(255, 255, 255, 0.7)
  );
  border-radius: 5px;
  border-style: solid !important;
  border-width: 2px !important;
  height: fit-content;

  svg {
    margin-right: 0;
  }
}
