@import '../App';

.title {
  font-family: $title-font;
  font-size: 2em;
  font-weight: bold;
}

.paragraph {
  display: inline;
  font-family: $body-font;
  font-size: 1.1em;
  white-space: pre-line;
}

%blockquotes {
  @include responsive(font-size, 4em, $sm: 3.5em);
  font-family: 'Passion One', cursive;
  font-style: normal;
  position: absolute;
}

.paragraph-blockquote {
  @include responsive(font-size, 1.4em, $sm: 1.2em);
  @include responsive(text-align, left, $sm: center);
  border-radius: 30px;
  font-family: $title-font;
  line-height: 1.2;
  margin: 0.5em 0;
  padding: 1em 2.5em;
  position: relative;

  &::before {
    @extend %blockquotes;
    @include responsive(top, -10px, $sm: 0);
    content: '“';
    left: 0;
  }

  &::after {
    @extend %blockquotes;
    @include responsive(bottom, -50px, $sm: -30px);
    content: '”';
    right: 0;
  }
}

.horizontal-line {
  @include themer(&, background-color, $light: #000, $dark: #fff);
  margin: 2em 0;
}
