@import '../App';

$hyperlink-light: #ac1ef3;
$hyperlink-dark: #d98dff;
$readmore-light: #0063fb;
$readmore-dark: #87ceeb;

.title {
  font-family: $title-font;
  font-weight: bold;
}

.paragraph {
  @include responsive(font-size, 1.3em, $sm: 0.9em);
  display: inline;
  font-family: $body-font;
  white-space: pre-line;
}

.paragraph-subheading {
  @include responsive(font-size, 1.5em, $sm: 1.5em);
  font-weight: bold;
  padding: 0.5em 0;
}

.paragraph-body {
  line-height: 1.7;
  margin: 1.3em 0;
}

.paragraph-hyperlink {
  $values: (
    light: $hyperlink-light,
    dark: $hyperlink-dark
  );
  @each $theme in $themes {
    $value: map-get($values, $theme);
    &-#{$theme} {
      color: $value !important;
      font-weight: bold;

      &:hover {
        color: adjust-color($value, $lightness: 10%);
      }

      &:active {
        color: adjust-color($value, $lightness: 30%);
        transition-duration: 0.1s;
      }
    }
  }
}

%blockquotes {
  @include responsive(font-size, 4em, $sm: 3.5em);
  font-family: 'Passion One', cursive;
  font-style: normal;
  position: absolute;
}

.paragraph-blockquote {
  @include responsive(font-size, 1.3em, $sm: 1.3em);
  @include responsive(padding, 1em 5.5em, $lg: 1em 4em, $sm: 1em 2.5em);
  border-radius: 30px;
  font-family: $title-font;
  line-height: 1.2;
  margin: 0.5em 0;
  position: relative;
  text-align: center;

  &::before {
    @extend %blockquotes;
    @include responsive(top, -10px, $sm: 0);
    content: '“';
    left: 0;
  }

  &::after {
    @extend %blockquotes;
    @include responsive(bottom, -50px, $sm: -30px);
    content: '”';
    right: 0;
  }
}

.paragraph-read-more {
  $values: (
    light: $readmore-light,
    dark: $readmore-dark
  );
  @each $theme in $themes {
    $value: map-get($values, $theme);
    &-#{$theme} {
      color: $value !important;
      cursor: pointer;
      display: block;
      margin-top: 0.5em;

      &:hover {
        color: adjust-color($value, $lightness: 10%);
        text-decoration: underline;
      }

      &:active {
        color: adjust-color($value, $lightness: 30%);
        transition-duration: 0.1s;
      }

      * {
        color: $value !important;
      }
    }
  }
}

.divider {
  @include themer(&, background-color, $light: #000, $dark: #fff);
  margin: 2em 0;
}

.vanilla-link {
  &:hover {
    text-decoration: none;
  }
}
