@import '../App.scss';

.title {
  font-family: $title-font;
  font-size: 2em;
  font-weight: bold;
}

.paragraph {
  display: inline;
  font-family: $body-font;
  font-size: 1.1em;
  white-space: pre-line;
}
