@import '../App';

.post-single {
  @include responsive(width, 60%, $lg: 80%, $md: 90%, $sm: 100%);
  margin: 0 auto;
  padding: 1em 1.2em;
}

.post-single-title {
  @include responsive(font-size, 2.5em, $sm: 1.8em);
  @include responsive(text-align, left, $sm: center);
}

.post-single-date {
  @include responsive(font-size, 1em, $sm: 0.8em);
  @include responsive(text-align, left, $sm: center);
  @include responsive(padding, 0, $sm: 0.5em 0);
}

.post-single-image-container {
  border-radius: 10px;
  margin: 1em 0;
  max-width: 900px;
}

.post-single-image {
  border-radius: 10px;
}

.post-toolbar-firstrow {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.post-filter {
  font-size: 1em;
}

.post-admin-image {
  border-radius: 10px;
  overflow: hidden;

  @media (max-width: $break-sm) {
    margin: 1em 0;
    max-width: 300px;
  }
}
