@import '../App';

.reveries-container {
  @include responsive(width, 60%, $lg: 80%, $md: 90%, $sm: 100%);
  padding: 1em 1.5em;
}

.reveries-unit {
  @include themer(&, border-color, $dark, $border-color);
  border-bottom: 2px solid;
  padding: 1.2em 0;
  width: 100%;
}

.reveries-title {
  @include responsive(font-size, 2.2em, $sm: 1.8em);
}

.reveries-image {
  @include themer(&, border-color, $dark, $border-color);
  border: 2px solid;
  border-radius: 10px;
  margin: 1em 0;
  max-width: 600px;
  overflow: hidden;
  width: 100%;
}

.reveries-paragraph {
  @include responsive(font-size, 1.3em, $sm: 1.1em);
}
