@import '../App';

.reveries-index {
  padding: 1em 0;
}

.reveries-index-reverie {
  width: 100%;
}

%reveries-index-image,
.reveries-index-image {
  border-radius: 10px;
  margin: 1em 0;
  overflow: hidden;
  width: 70%;

  &-light {
    @extend %reveries-index-image;
    border: 2px solid $dark;
  }

  &-dark {
    @extend %reveries-index-image;
    border: 2px solid $border-color;
  }
}

.reveries-index-paragraph {
  white-space: pre-line;
}
