
$dark: #383838;

.nav {
  &-light {
    background-color: white;
    border-bottom: 1px solid $dark;
    a {
      color: $dark !important;
    }}
  &-dark {
    background-color: $dark;
    border-bottom: 1px solid white;
    a {
      color: white !important;
    }}
}