@import 'Variables';

.body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: $body-font;

  &-light {
    background-image: url($cloudinary-url + $bg-image-light);

    * {
      color: #000 !important;
    }
  }

  &-dark {
    background-image: url($cloudinary-url + $bg-image-dark);

    * {
      color: #fff !important;
    }
  }
}

.app {
  padding: 1em 2em;

  &-with-sidebar {
    @extend .app;
    display: grid;
    grid-template-columns: 1fr 30%;
    margin: 0 auto;
    max-width: 80%;

    @media (max-width: $break-md) {
      display: block;
    }
  }
}
