@import 'App';

////////////////////////////////
/// HEADER
////////////////////////////////

%nav {
  transition-duration: 0.8s;
}

%nav-link {
  font-family: $title-font;
  font-size: 1.1em;
  text-transform: uppercase;
  transition-duration: 0.8s;
}

.nav {
  &-light {
    @extend %nav;
    background-color: #fff;
    border-bottom: 2px solid $dark;

    a {
      @extend %nav-link;
      color: #000 !important;
    }
  }

  &-dark {
    @extend %nav;
    background-color: $dark;
    border-bottom: 1px solid #fff;

    a {
      @extend %nav-link;
      color: #fff !important;
    }
  }
}

////////////////////////////////
/// SIDEBAR
////////////////////////////////

@mixin sidebarTemplate($theme) {
  $imgBorderColor: black;
  @if $theme == 'dark' {
    $imgBorderColor: $border-color;
  }

  .image {
    border: 2px solid $imgBorderColor;
    border-radius: 10px;
    width: 90%;
  }
}

.sidebar {
  &-light {
    @include sidebarTemplate('light');
  }

  &-dark {
    @include sidebarTemplate('dark');
  }
}

////////////////////////////////
/// ERROR
////////////////////////////////

.error-page {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.error-message-container {
  text-align: center;
}

.error-message {
  @include responsive(font-size, 1.2em);
  padding-bottom: 1em;
}
