@import url('https://fonts.googleapis.com/css?family=Mulish:400,700|Calistoga&display=swap');

$title-font: 'Calistoga', 'cursive';
$body-font: 'Mulish', sans-serif;

$border-color: rgb(245, 222, 179);

$dark: #202020;

$cloudinary-url: 'https://res.cloudinary.com/zavid/image/upload';
$bg-image-light: '/static/bg/bg-app-light';
$bg-image-dark: '/static/bg/bg-app-dark';

/** Media queries */
$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;
$break-xxl: 1408px;
