@import '../App';

@mixin block-colourizer($color) {
  background-color: rgba($color, $alpha: 0.8);
  border-color: rgba($color, $alpha: 0.5);
  transition-duration: 0.3s;

  &:hover {
    background-color: adjust-color($color, $lightness: 10%);
    transform: scale(1.07);
  }
}

.admin-page {
  @include responsive(grid-template-columns, repeat(2, 50%), $md: 100%);
  display: grid;
  height: 100%;
}

.admin-block {
  @include responsive(font-size, 1.5em, $md: 1.3em);
  @include responsive(margin, 1em, $md: 0.5em);
  @include themer(&, border-width, $light: 0, $dark: 3px);
  @include themer(&, box-shadow, $light: 0, $dark: 0 0 2px 3px #fff);
  align-items: center;
  border-radius: 20px;
  border-style: outset;
  color: #fff !important;
  display: flex;
  justify-content: center;
  min-height: 100px;
  text-align: center;

  &-posts {
    @include block-colourizer(#420000);
  }

  &-diary {
    @include block-colourizer(#140042);
  }

  &-pages {
    @include block-colourizer(#004042);
  }

  &-subscribers {
    @include block-colourizer(#414200);
  }
}

.login-page {
  align-items: center;
  display: flex;
  min-height: 75vh;
}

.login-form {
  @include responsive(width, 40%, $xl: 60%, $lg: 80%, $sm: 90%);
  flex-direction: row;
}

.login-input {
  margin: 2em 0;
}

.login-button {
  min-width: 175px;
}
