@import '../App';

.diary-page {
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  padding: 1.5em;
}

.diary-index-error {
  @include responsive(font-size, 0.9em, $sm: 0.8em);
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 2em 0;
}

.diary-grid {
  @include responsive(
    grid-template-columns,
    repeat(4, 25%),
    $xl: repeat(3, calc(100% / 3)),
    $lg: repeat(2, 50%),
    $md: 100%
  );
  display: grid;
  padding: 0.5em 0;
}

%diary-entry {
  @include responsive(padding, 1.5em, $md: 1em 0);
  border-radius: 15px;
  cursor: pointer;
}

.diary-entry {
  &-light {
    @extend %diary-entry;

    @media (min-width: $break-md) {
      &:hover {
        background-color: $dark;

        * {
          color: #fff !important;
        }
      }
    }
  }

  &-dark {
    @extend %diary-entry;

    @media (min-width: $break-md) {
      &:hover {
        background-color: #cacaca;

        * {
          color: #000 !important;
        }
      }
    }
  }
}

.diary-entry-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.diary-entry-title {
  @include responsive(font-size, 1.5em, $sm: 1.3em);
  @include responsive(letter-spacing, 0, $sm: -0.5px);
  padding-bottom: 0.5em;
}

.diary-entry-date {
  @include responsive(font-size, 0.9em, $sm: 0.8em);
}

.diary-entry-paragraph {
  @include responsive(font-size, 0.9em, $sm: 1em);
}

.diary-entry-star {
  @include responsive(font-size, 2em, $xxl: 1.5em);
  margin: 0 0.4em;
}

.diary-entry-readmore {
  @include responsive(font-size, 1em, $sm: 0.8em);
}

.diary-single-pretitle {
  @include responsive(font-size, 1.2em, $sm: 1em);
}

.diary-single-title {
  @include responsive(font-size, 2.5em, $sm: 1.8em);
  padding-bottom: 0;
}

.diary-single-date {
  @include responsive(font-size, 1.3em, $sm: 1em);
  padding-bottom: 0;
}

.diary-single-favourite {
  @include responsive(font-size, 1em, $sm: 0.7em);
  padding: 1em 0 0;
}

.diary-single-tags {
  margin-top: 1em;
}

.diary-search {
  align-items: center;
  display: flex;
  margin: 1em auto 0;
  max-width: 600px;
  width: 100%;
}

.diary-filters {
  align-items: center;
  display: flex;
  margin: 1em auto 0;
  max-width: 600px;
  width: 100%;
}

.diary-check-favs {
  font-size: 0.8em;
  padding-left: 1.6em;

  .diary-check-favs-box {
    $size: 13px;
    border-radius: 2px;
    height: $size;
    width: $size;
  }

  .diary-check-favs,
  .diary-check-favs-box::after {
    border-width: 0 2px 2px 0;
    height: 9px;
    left: 5px;
    top: 1px;
    width: 3px;
  }
}

$radius: 20px;

.diary-search-bar {
  @include responsive(font-size, 0.9em, $sm: 1em);
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: 0;
  border-top-left-radius: $radius;
  border-top-right-radius: 0;
}

.diary-search-button {
  @include responsive(font-size, 0.9em, $sm: 0.7em);
  @include responsive(padding, 1.1em 1em, $sm: 1.65em 1.5em);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: $radius;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: $radius;
}


.diary-form-tags {
  margin-top: 1em;
}