@import '../App';

.diary-page {
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  padding: 1.5em;
}

.diary-index-error {
  @include responsive(font-size, 0.9em, $sm: 0.8em);
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 2em 0;
}

.diary-grid {
  @include responsive(
    grid-template-columns,
    repeat(4, 25%),
    $xl: repeat(3, calc(100% / 3)),
    $lg: repeat(2, 50%),
    $md: 100%
  );
  display: grid;
  padding: 0.5em 0;
}

%diary-entry {
  @include responsive(padding, 1.5em, $md: 1em 0);
  border-radius: 15px;
  cursor: pointer;
}

.diary-entry {
  &-light {
    @extend %diary-entry;

    @media (min-width: $break-md) {
      &:hover {
        background-color: $dark;

        * {
          color: #fff !important;
        }
      }
    }
  }

  &-dark {
    @extend %diary-entry;

    @media (min-width: $break-md) {
      &:hover {
        background-color: #cacaca;

        * {
          color: #000 !important;
        }
      }
    }
  }
}

.diary-entry-title {
  @include responsive(font-size, 1.5em, $sm: 1.3em);
  @include responsive(letter-spacing, 0, $sm: -0.5px);
  padding-bottom: 0.5em;
}

.diary-entry-date {
  @include responsive(font-size, 0.9em, $sm: 0.8em);
}

.diary-entry-paragraph {
  @include responsive(font-size, 0.9em, $sm: 1em);
}

.diary-entry-readmore {
  @include responsive(font-size, 1em, $sm: 0.8em);
}

.diary-single-pretitle {
  @include responsive(font-size, 1.2em, $sm: 1em);
}

.diary-single-title {
  @include responsive(font-size, 2.5em, $sm: 1.8em);
  padding-bottom: 0;
}

.diary-single-date {
  @include responsive(font-size, 1.3em, $sm: 1em);
  padding-bottom: 0;
}

.diary-search {
  @include responsive(width, 40%, $xl: 60, $sm: 100%);
  margin: 0 auto;
}

.diary-search-bar {
  @include responsive(font-size, 0.9em, $sm: 0.8em);
  margin-top: 1em;
  padding: 0.5em 1em;
}
