@import '../App';

$delay-intro-text: 400ms;
$delay-intro-signature: 800ms;
$delay-home-search: 1200ms;
$delay-latest-entity: 1600ms;
$delay-random-posts: 2000ms;

/// Provides default animation styling.
/// @param {string} $delay - The value when the theme is light.
@mixin animate($delay) {
  animation: g-fadein 600ms ease $delay 1 normal both; 
}

.home-page {
  display: grid;
  grid-template-rows: 1fr auto;
  padding: 2em 1.5em;
}

.home-row {
  margin: 0 !important;
}

.home-field {
  padding: 0 !important;
}

////////////////////////////////
/// INTRODUCTION
////////////////////////////////

.introduction-wrapper {
  @include responsive(width, 80%, $lg: 90%, $sm: 100%);
  border-bottom: 1px solid;
  justify-self: center;

  .introduction-text {
    @include animate($delay-intro-text);
    height: 100%;

    &__heading {
      @include responsive(font-size, 2.5em, $md: 2em);
      margin-bottom: 0.5em;
    }
  
    &__message {
      @include responsive(font-size, 1.3em, $md: 1em);
    }
  }

  .introduction-signature {
    @include animate($delay-intro-signature);
    @include responsive(margin, 1em 0 0, $xl: 0 0 0);
    @include responsive(max-width, 100%, $xl: 250px, $sm: 150px);
    @include responsive(padding, 1em, $xl: 0 0 2em);
  }
}

////////////////////////////////
/// SEARCH
////////////////////////////////

.home-search-row {
  @include animate($delay-home-search);
  @include responsive(padding, 4em 0, $sm: 2em 0);
  @include responsive(width, 80%, $lg: 90%, $sm: 100%);
  justify-self: center;
  margin: 0 auto !important;
}

.home-search-container {
  width: 100%;
}

.home-search-bar {
  @include responsive(font-size, 1.4em, $md: 1.2em);
  margin: 0 auto;
  max-width: 600px;
}

.home-search-button-container {
  display: flex;
  justify-content: center;
  padding-top: 1em;
  width: 100%;
}

.home-search-button {
  @include responsive(font-size, 1em, $md: 0.9em);
  @include responsive(min-width, 200px, $sm: 150px);
}

////////////////////////////////
/// LATEST
////////////////////////////////

%latest-segment {
  @include responsive(padding, 2em, $xl: 2em 1em, $sm: 2em 0);
  @include responsive(width, $xl: 90%, $sm: 100%);
  border-top: 1px solid;
  height: 100%;
  margin: 0 auto;
}

%latest-title {
  @include responsive(font-size, 1.7em, $md: 1.4em);
  @include responsive(letter-spacing, 0, $md: -1px);
  margin-top: 0.1em;
}

%latest-date {
  @include responsive(font-size, 1em, $sm: 0.7em);
}

%latest-icon {
  @include responsive(font-size, 4.5em, $sm: 4.5em);
}

%latest-readmore {
  @include responsive(font-size, 1em, $sm: 0.8em);
}

.latest-shared-heading {
  @include responsive(font-size, 1em, $sm: 0.8em);
}

.latest-diary {
  @extend %latest-segment;
  @include animate($delay-latest-entity);

  .latest-diary-title {
    @extend %latest-title;
  }

  .latest-diary-date {
    @extend %latest-date;
  }

  .latest-diary-feather {
    @extend %latest-icon;
    margin-left: 0.4em;
  }

  .latest-diary-content {
    @include responsive(font-size, 1.2em, $sm: 0.9em);
    margin: 0;
  }

  .latest-diary-readmore {
    @extend %latest-readmore;
  }
}

.latest-reverie {
  @extend %latest-segment;
  @include animate($delay-latest-entity);

  .latest-reverie-icon {
    @extend %latest-icon;
    margin-right: 0.3em;
  }

  .latest-reverie-title {
    @extend %latest-title;
  }

  .latest-reverie-date {
    @extend %latest-date;
  }

  .latest-reverie-content {
    @include responsive(font-size, 1.2em, $sm: 0.9em);
    margin: 0;
  }

  .latest-reverie-readmore {
    @extend %latest-readmore;
  }

  .latest-reverie-image-container {
    @include responsive(max-width, 350px, $xl: 800px);
    @include responsive(margin, 0 0 0 1em, $xl: 1em 0);

    .latest-reverie-image {
      border-radius: 10px;
    }
  }
}

////////////////////////////////
/// RANDOM POSTS
////////////////////////////////

.random-posts-wrapper {
  @include animate($delay-random-posts);
  @include responsive(padding, 0.5em 2em, $md: 0 1em);
  background: rgba($color: #000, $alpha: 0.7);
  border-top: 1px solid #fff;

  .random-posts-heading {
    @include responsive(font-size, 1.3em, $md: 1.1em);
    @include responsive(letter-spacing, 0, $md: -1px);
    color: #fff;
    margin-top: 1em;
    text-align: center;
  }

  .random-posts-grid {
    @include responsive(
      grid-template-columns,
      repeat(4, 25%),
      $lg: repeat(2, 50%),
      $sm: 100%
    );
    display: grid;
  }

  .random-post-unit {
    @include hover-scale(1.08);
    animation: g-zoomin 0.5s ease $delay-random-posts 1 normal both;
    cursor: pointer;
    margin: 1em;
  }

  .random-post-title {
    @include responsive(font-size, 1.3em, $md: 1.1em);
    @include responsive(letter-spacing, 0, $md: -1px);
    color: #fff;
  }

  .random-post-date {
    @include responsive(font-size, 1em, $md: 0.8em);
    color: #fff;
  }

  .random-post-image-wrapper {
    padding: 0.5em 0;
    width: 100%;

    img {
      border-radius: 10px;
    }
  }
}
