@import '../App';

.pref-title {
  @include responsive(font-size, 2em, $sm: 1.8em);
}

.pref-email {
  @include responsive(font-size, 1.2em, $sm: 1.1em);
  font-style: italic;
  padding: 0.5em 0;
}

.pref-checks {
  margin: 1em 0 2em;

  &-intro {
    @include responsive(font-size, 1.1em, $sm: 1em);
  }

  &-checkboxes {
    margin: 1em 0;
  }
}

.pref-update-button {
  display: block;
}

.pref-unsubscribe-button {
  @include themer(&, color, $light: #391144e6, $dark: $hyperlink-dark);
  display: block;
  margin: 1.5em 0;
  text-decoration: underline;
}

.user-subscribe-form {
  @include responsive(width, $lg: 80%, $sm: 100%);
  @include responsive(padding, initial, $sm: 1em);
  margin: 0 auto;
  max-width: 650px;
}

.user-subscribe-title {
  @include responsive(font-size, 2.2em, $sm: 1.6em);
  margin-top: 1em;
}

.user-subscribe-message {
  @include responsive(font-size, 1.3em, $sm: 1em);
  margin: 0.5em 0;
}

.user-subscribe-button {
  margin: 1em;
  min-width: 175px;
  padding: 1.4em;
}
