@keyframes g-fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes g-zoomin {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes g-expand {
  from {
    max-height: 0;
    opacity: 0;
  }

  to {
    max-height: 100vh;
    opacity: 1;
  }
}

@keyframes g-collapse {
  from {
    max-height: 100vh;
    opacity: 1;
  }

  to {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
  }
}

@mixin g-grid-anim($value) {
  @keyframes l-grid {
    from {
      grid-template-columns: 100%;
    }

    to {
      grid-template-columns: $value;
    }
  }

  @keyframes l-grid-reverse {
    from {
      grid-template-columns: $value;
    }

    to {
      grid-template-columns: 100%;
    }
  }
}
