@import 'Variables';
@import 'Mixins';

@import 'Modal';

@import './external/react-toastify/main.scss';

.body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: $body-font;
  height: 100vh;
  transition-duration: 0.8s;

  /// Allow for spacing.
  > div:first-child {
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    min-height: 100%;
  }

  &-light {
    background-color: #fff;
    background-image: url($cloudinary-url + $bg-image-light);

    * {
      color: #000;
    }

    @media (max-width: $break-sm) {
      background-image: none;
    }
  }

  &-dark {
    background-color: #000;
    background-image: url($cloudinary-url + $bg-image-dark);

    * {
      color: #fff;
    }
  }
}

.icon {
  &-right-space {
    margin-right: 0.4em;
  }
}

.page-heading {
  @include responsive(font-size, 2.5em, $sm: 2.1em);
  text-align: center;
  text-transform: uppercase;
}

.page-intro {
  @include themer(&, border-color, $light: #000, $dark: #fff);
  border-bottom: 1px solid;
  margin: 0 auto;
  max-width: 800px;
  padding: 0.5em 0 1em;
  text-align: center;

  &-paragraph {
    font-size: 0.85em;
    margin: 0;
  }
}

////////////////////////////////
/// Cookies
////////////////////////////////

.cookie-prompt-wrapper {
  @include responsive(font-size, 1em, $md: 0.8em);
  background-color: rgba(0, 0, 0, 0.95);
  bottom: 0%;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0.7em;
  position: sticky;
  width: 100%;
  z-index: 1100;

  .cookie-prompt {
    @include responsive(width, 50%, $xl: 80%, $lg: 90%, $sm: 100%);
    align-items: center;
    display: flex;
    padding: 0.5em;

    span {
      color: #fff;
      font-family: $title-font;
      margin: 0 auto;
      padding-right: 1em;

      a {
        color: #fff;
        text-decoration: underline;
      }
    }

    svg {
      font-size: 1.35em;

      path {
        color: #fff !important;
      }
    }
  }
}

////////////////////////////////
/// Image
////////////////////////////////

.signature {
  @include responsive(max-width, 200px, $md: 150px);
  pointer-events: none;
  user-select: none;
}
