@import url('https://fonts.googleapis.com/css?family=Mulish:400,700|Calistoga|Passion+One&display=swap');

// Fonts
$title-font: 'Calistoga', 'cursive';
$body-font: 'Mulish', sans-serif;

$hyperlink-light: #ac1ef3;
$hyperlink-dark: #d98dff;

// Colors
$border-color: rgb(245, 222, 179);

$fade-light: rgba(255, 255, 255, 0.7);
$fade-dark: rgba(0, 0, 0, 0.7);
$dark: #202020;

// Images
$cloudinary-url: 'https://res.cloudinary.com/zavid/image/upload';
$bg-image-light: '/v1606588947/static/bg/bg-app-light';
$bg-image-dark: '/v1597608184/static/bg/bg-app-dark';

// Themes
$themes: ('light', 'dark');

// Media queries
$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;
$break-xxl: 1440px;
$break-xxxl: 1600px;
