@import '../App';

////////////////////////////////
/// Form
////////////////////////////////

.form {
  $gtc: repeat(2, 50%);

  @include g-grid-anim($gtc);
  animation: g-fadein 0.5s;
  display: grid;
  height: 100%;
  overflow: hidden;

  &--initial {
    grid-template-columns: $gtc;
  }

  &--preview-visible {
    @include responsive(
      animation,
      l-grid 0.4s ease 0s 1 normal both,
      $lg: none
    );
  }

  &--preview-hidden {
    @include responsive(
      animation,
      l-grid-reverse 0.4s ease 0s 1 normal both,
      $lg: none
    );
  }
}

%form-pane {
  @media (min-width: $break-lg) {
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.form-editor {
  padding: 1em;
  transition: all 0.5s ease;

  &--initial {
    max-width: 650px;
  }

  &--preview-visible {
    @extend %form-pane;
    @include responsive(
      animation,
      l-editor-grid 0.4s ease 0s 1 normal both,
      $lg: none
    );
    width: 100%;
  }

  &--preview-hidden {
    @include responsive(
      animation,
      l-editor-grid-reverse 0.4s ease 0s 1 normal both,
      $lg: none
    );
    margin: 0 auto;
    max-width: 650px;
  }

  @keyframes l-editor-grid {
    from {
      width: 100%;
    }

    to {
      width: initial;
    }
  }

  @keyframes l-editor-grid-reverse {
    from {
      width: initial;
    }

    to {
      width: 100%;
    }
  }
}

.form-preview {
  @extend %form-pane;
  @include responsive(display, block, $lg: none);
  @include themer(&, border-color, #000, #fff);
  @include themer(
    $class: &,
    $attr: background-color,
    $light: rgba($color: #fff, $alpha: 0.7),
    $dark: rgba($color: #000, $alpha: 0.7)
  );
  border-left: 1px solid;
  padding: 2em;
  position: relative;

  &--initial {
    height: 0;
  }

  &--visible {
    animation: l-slidein 0.4s ease 0s 1 normal both;
  }

  &--hidden {
    animation: l-slideout 0.4s ease 0s 1 normal both;
  }

  @keyframes l-slidein {
    0% {
      left: 100vw;
      visibility: hidden;
    }

    1% {
      height: 100vh;
    }

    100% {
      left: 0;
      visibility: visible;
    }
  }

  @keyframes l-slideout {
    0% {
      left: 0;
      visibility: visible;
    }

    99% {
      left: 100vw;
      visibility: hidden;
    }

    100% {
      height: 0;
      padding: 0;
    }
  }
}

.form-preview__title {
  font-size: 2em;
}

.form-preview__content {
  font-size: 1.1em;
}

.form-footer-buttons {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1250px;

  button {
    min-width: 175px;
    @media (max-width: $break-sm) {
      min-width: inherit;
      width: 48%;
    }
  }
}

.form-footer-button-spacer {
  @include responsive(width, auto, $sm: 100%);
}

.form-admin-button {
  @include responsive(display, block, $lg: none);
}

.form-field-row {
  margin: 0;
}

%form-field,
.form-field {
  @include responsive(padding, 1em, $sm: 0.8em 1em);
  animation: g-fadein 0.4s;
}

.form-field--hidden {
  display: none;
}

////////////////////////////////
/// Labels
////////////////////////////////

.label {
  @include responsive(font-size, 1.2em, $sm: 1.1em);
  display: block;
  font-family: $title-font;
}

////////////////////////////////
/// Inputs
////////////////////////////////

%input {
  @include responsive(font-size, 1.2em, $sm: 1em);
  @include responsive(padding, 0.4em, $sm: 0.4em 0);
  background: none;
  border-style: none;
  outline: none;
  width: 100%;
}

%themed-input {
  @extend %input;
  @include themer(
    &,
    border-bottom,
    $light: 1px solid $fade-dark,
    $dark: 1px solid $fade-light
  );
}

.text-input-field {
  @include themer(
    &,
    border-bottom,
    $light: 1px solid rgba(0, 0, 0, 0.7),
    $dark: 1px solid rgba(255, 255, 255, 0.7)
  );
  align-items: center;
  display: flex;
  width: 100%;
}

.text-input {
  @extend %input;
}

.text-click-input {
  width: 100%;

  input {
    cursor: pointer;
  }
}

.search-bar {
  @include themer(
    &,
    background-color,
    $light: rgba(224, 224, 224, 0.5),
    $dark: rgba(33, 33, 33, 0.7)
  );
  border-radius: 10px;
  border-style: none !important;
  padding: 0.5em 0.5em 0.5em 1em;

  .search-bar-icon {
    @include responsive(margin-right, $sm: 0.7em);
  }
}

@mixin theme-extend($class, $target) {
  @each $theme in $themes {
    &-#{$theme} {
      @extend #{$class} !optional;
      @extend #{$target}-#{$theme};
    }
  }
}

.textarea {
  @include theme-extend(&, '%themed-input');
  overflow: overlay;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

%select {
  appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, #808080 50%),
    linear-gradient(135deg, #808080 50%, transparent 50%);
  background-position: calc(100% - 13px) calc(1em + 1px),
    calc(100% - 8px) calc(1em + 1px);
  background-repeat: no-repeat;
  background-size: 5px 5px, 5px 5px;
}

.select {
  @extend %select;

  &-light {
    @extend %themed-input-light;

    option {
      background-color: #fff;
    }
  }

  &-dark {
    @extend %themed-input-dark;

    option {
      background-color: $dark;
    }
  }
}

.select-round {
  @extend %input;
  @include responsive(font-size, 1.2em, $sm: 1em);
  @include themer(&, border-color, $light: $fade-dark, $dark: $fade-light);
  border: 2px solid;
  border-radius: 10px;
  margin-right: 1em;
  padding: 0.4em 0 0.4em 0.6em !important;

  &-light {
    option {
      background-color: #fff;
    }
  }

  &-dark {
    option {
      background-color: $dark;
    }
  }
}

////////////////////////////////
/// Checkbox
////////////////////////////////

/* Customize the label (the container) */
.checkbox-group {
  $color: #ac1ef3;

  cursor: pointer;
  display: block;
  margin-bottom: 0.8em;
  padding-left: 2em;
  position: relative;
  user-select: none;

  input {
    cursor: pointer;
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0;

    &:checked ~ .checkbox-mark {
      background-color: $color !important;

      /// Show the checkmark when checked.
      &::after {
        display: block;
      }
    }
  }
}

/* Create a custom checkbox */
.checkbox-mark {
  $size: 20px;

  @include themer(&, background-color, $light: #c3c3c3, $dark: #eee);
  border-radius: 5px;
  height: $size;
  left: 0;
  position: absolute;
  top: 3px;
  transition-duration: 0.4s;
  width: $size;

  /// Create the checkmark/indicator (hidden when not checked)
  &::after {
    content: '';
    display: none;
    position: absolute;
    transition-duration: 0.8s;
  }
}

/// Style the checkmark/indicator.
.checkbox-group .checkbox-mark::after {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  height: 13px;
  left: 8px;
  top: 2px;
  transform: rotate(45deg);
  width: 5px;
}

////////////////////////////////
/// Datepickers & Timepickers
////////////////////////////////

.datepicker-field {
  align-items: center;
  display: flex;

  .datepicker {
    align-items: center;
    background: initial;
    border-style: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    width: 100%;
  }

  .calendar-icon {
    margin: 0 0.2em 0 0.4em !important;
    @media (max-width: $break-md) {
      margin-right: 0.5em !important;
    }
  }
}

.datepicker-modal {
  justify-content: space-evenly;
  padding: 2em;

  select {
    @include responsive(font-size, 1.4em, $sm: 1.2em);
  }
}

////////////////////////////////
/// File Selectors
////////////////////////////////

.fs-image-container {
  align-items: center;
  border: 2px dashed rgb(158, 158, 158);
  display: flex;
  justify-content: center;
  text-align: center;

  div {
    height: 100%;
  }
}

.fs-image-text {
  cursor: pointer;
  margin: 0;
}

.fs-image-wrapper {
  position: relative;

  &--initial {
    max-width: 0;
    overflow: hidden;
  }

  &--visible {
    animation: l-zoomin 0.4s ease 0s 1 normal both;
  }

  &--hidden {
    animation: l-zoomout 0.4s ease 0s 1 normal both;
  }

  @keyframes l-zoomin {
    from {
      transform: scale(0);
    }
  
    to {
      max-width: 100vw;
      transform: scale(1);
    }
  }

  @keyframes l-zoomout {
    from {
      transform: scale(1);
    }
  
    to {
      max-width: 0;
      transform: scale(0);
    }
  }
}

.fs-image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.fs-image-button {
  @include hover-scale(1.2);
  background: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  position: absolute;
  right: -8px;
  top: -8px;

  svg {
    border-radius: 50%;
    font-size: 1em;
    margin-right: 0 !important;

    path {
      color: rgba(0, 0, 0, 0.9) !important;
    }
  }
}

////////////////////////////////
/// Foldable
////////////////////////////////

.foldable-toggle {
  $color: rgb(209, 141, 255) !important;
  color: $color;
  font-size: 0.85em;

  path {
    color: $color;
  }
}

.foldable-content {
  margin-top: 1em;

  &--visible {
    animation: g-expand 0.4s ease 0s 1 normal both;
  }

  &--hidden {
    animation: g-collapse 0.4s ease 0s 1 normal both;
  }
}

////////////////////////////////
/// Radio
////////////////////////////////

.radio-group {
  &-inline {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
}

.radio-button {
  $color: #ac1ef3;
  display: block;
  position: relative;

  input {
    &:checked ~ .radio-mark {
      background-color: $color !important;

      /// Show the checkmark when checked.
      &::after {
        display: block;
      }
    }
  }
}

.radio-button-label {
  margin-left: 1.4em;
}

/* Create a custom radio-button */
.radio-mark {
  $size: 16px;

  @include themer(&, background-color, $light: #c3c3c3, $dark: #eee);
  border-radius: 10px;
  height: $size;
  left: 0;
  position: absolute;
  top: 5px;
  transition-duration: 0.4s;
  width: $size;

  /// Create the checkmark (hidden when not checked)
  &::after {
    content: '';
    display: none;
    position: absolute;
    transition-duration: 0.8s;
  }
}

/// Style the checkmark.
.radio-button .radio-mark::after {
  border: 5px solid #fff;
  border-radius: 50%;
  height: 9px;
  left: 2.5px;
  top: 3px;
  width: 9px;
}

////////////////////////////////
/// Switch
////////////////////////////////

$switch-height: 20px;

%switch-panel {
  align-items: center;
  border-radius: 10px;
  display: flex;
  height: 18px;
  width: 40px;
}

%switch-dial {
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 0 1px 2px $dark;
  cursor: pointer;
  display: flex;
  height: $switch-height;
  justify-content: center;
  position: relative;
  transition-duration: 0.8s;
  width: $switch-height;

  * {
    color: #000 !important;
    font-size: 0.7em;
    margin: 0;
  }
}

/// Light
.switch-panel-unchecked {
  @extend %switch-panel;
  background-color: #e6e6e6;
  border: 1px solid $dark;

  .switch-dial {
    @extend %switch-dial;
    background-color: #1e1c1f;
    // border: 1px solid $dark;
    left: -2%;

    * {
      color: #fff !important;
    }
  }
}

/// Dark
.switch-panel-checked {
  @extend %switch-panel;
  background-color: #505050;

  .switch-dial {
    @extend %switch-dial;
    background-color: #fff;
    left: 50%;

    * {
      color: #000 !important;
    }
  }
}

////////////////////////////////
/// Timeline
////////////////////////////////

.timeline {
  @include responsive(align-items, flex-start, $sm: flex-end);
  display: grid;
  grid-template-columns: repeat(2, 50%);
  margin-top: 2.5em;
}

.timeline-previous {
  .timeline-content {
    align-items: center;
    display: flex;
  }
}

.timeline-next {
  align-items: flex-end;
  display: flex;
  flex-direction: column;

  .timeline-content {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
  }

  svg {
    margin-left: 0.4em;
  }
}

.timeline-image-container {
  margin: 0.5em 1.4em 0;
  max-width: 150px;

  .timeline-image {
    border-radius: 10px;
  }
}

.timeline-text {
  @include responsive(font-size, 1.1em, $sm: 0.7em);
  padding: 0 0.5em;
}

.timeline-text-heading {
  @include responsive(letter-spacing, 0, $sm: 0.1px);
}
