@import '../App';

.modal-body {
  padding: 0 1em;
}

.modal-body-only {
  padding: 1em;
}

.modal-footer {
  button {
    min-width: 130px;
  }
}

// .curator-canvas,
.curator-image {
  border-bottom: 1px solid;
  padding-bottom: 1em;
  user-select: none;
  width: 100%;

  &::after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
}

.curator-label {
  display: block;
  font-weight: bold;
}

.curator-options {
  padding: 0 1em;
}

.curator-tip {
  font-size: 0.7em;
}
