@import '../App';

.modal-body {
  padding: 0 1em;
}

.modal-body-only {
  padding: 1em;
}

.modal-footer {
  button {
    min-width: 130px;
  }
}

// .curator-canvas,
.curator-image-container {
  border-bottom: 1px solid;
  width: 100%;
}

.curator-image {
  padding-bottom: 1em;
  user-select: none;
  width: 100%;

  &::after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
}

.curator-image-footer {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  padding-bottom: 0.4em;
}

.curator-check-group {
  @include responsive(font-size, $sm: 0.9em);
  padding-left: 1.7em;

  .curator-check-box {
    $size: 18px;
    height: $size;
    width: $size;
  }
}

.curator-colour-select {
  border-radius: 0;
}

.curator-label {
  display: block;
  font-weight: bold;
}

.curator-options {
  padding: 0 1em;
  user-select: none;
}

.curator-tip {
  font-size: 0.7em;
  user-select: none;
}

.curator-close-button {
  @media (max-width: $break-sm) {
    font-size: 0.8em;
  }
}
